extends ../../base
block title
  | Новости подробно
block h1
  | Новости подробно
block content
  .news-detail
    a.news-detail__item(href="#")
      .news-detail__img-wrap
        img
      .news-detail__title
      .news-detail__text
      .news-detail__date
  include pagination/pagination