// Выравнивание по центру вертикально

@mixin vertical-align($v-align) {
  top: 50%;
  margin-top:($v-align); 
}

// Растягивание однострочного текста на всю ширину

@mixin align-justify {
  text-align: justify;
  after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
  }
}