
doctype html
html
	head
		title
			block title
		include include/fonts
		include include/styles
	body
		.page-wrapper
			include header/header
					h1
						block h1
					.content
						block content
		include include/footer
		include include/scripts